body {
  font-size: 14px;
  font-family: "Roboto", sans-serif, sans-serif;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #ffffff;
}

a {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  font-family: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.padding-bottom {
  padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* =========== WebStudio =========== */
.header-logo__link {
  padding: 24px 0px 25px 0px;
  margin-right: 93px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-logo__link--theme {
  color: #2196f3;
}

.header-logo__link--black {
  color: #000000;
}

/* =========== Navigator=========== */
.navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigator__link {
  position: relative;
  display: block;
  padding: 32px 0px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigator__link:hover, .navigator__link:focus {
  color: #2196f3;
}

.navigator__link--current {
  color: #2196f3;
}

.navigator__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
}

.navigator__iteam:not(:last-child) {
  margin-right: 50px;
}

/* =========== Contacts =========== */
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contacts__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0px;
  margin-left: 30px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts__contact:hover, .contacts__contact:focus {
  color: #2196f3;
}

.contacts__contact:hover .contacts__webpost,
.contacts__contact:focus .contacts__webpost,
.contacts__contact:hover .contacts__smartphone,
.contacts__contact:focus .contacts__smartphone {
  fill: #2196f3;
}

.contacts__webpost {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

.contacts__smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.5)), to(rgba(47, 48, 58, 0.3))), url(../images/hero/hero-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)), url(../images/hero/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero .hero-box {
  text-align: center;
}

.hero-box__headline {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-box__button {
  display: inline-block;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  border: 0;
  cursor: pointer;
}

/* =========== list-box =========== */
.section-list {
  padding-top: 94px;
}

.title-seo {
  visibility: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
}

.group-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.group-features__element:not(:last-child) {
  margin-right: 30px;
}

.group-features__label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.group-features__text {
  margin-bottom: 0px;
  width: 270px;
  line-height: 1.71;
  color: #757575;
}

.group-features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 100px;
  height: 120px;
  width: 270px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* =========== What are we doing. products-box =========== */
.products-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-list__item {
  position: relative;
}

.products-list__item:not(:first-child) {
  margin-left: 30px;
}

.products-list__bg {
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.products-list__text {
  margin: 0;
  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.masters-section {
  padding-top: 94px;
  background: #f5f4fa;
}

.masters-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.masters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.masters-list__pfoto {
  margin-bottom: 30px;
}

.masters-list__master {
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.masters-list__master:not(:last-child) {
  margin-right: 30px;
}

.masters-list__name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.masters-list__profession {
  margin-bottom: 0px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
}

.master-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}

.master-icons__social-icon:not(:last-child) {
  margin-right: 10px;
}

.master-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border: none;
  margin-top: 16px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.master-icons__link:hover, .master-icons__link:focus {
  background-color: #2196f3;
}

.master-icons__social {
  display: block;
  padding: 12px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.master-icons__social:hover, .master-icons__social:focus {
  fill: #ffffff;
}

.clients-div {
  padding-top: 94px;
}

.clients-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16 32;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: #2196f3;
}

.clients__profile:not(:last-child) {
  margin-right: 30px;
}

.clients__logo {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0px;
  background: #2f303a;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-box {
  margin-right: 70px;
}

/* =========== Footer WebStudio =========== */
.footer-logo {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  font-family: "Raleway", sans-serif;
}

.footer-logo--theme-color {
  color: #2196f3;
}

.footer-logo--white-color {
  color: #ffffff;
}

/* =========== Address =========== */
.footer-address__google-address {
  padding: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.footer-address__element:hover, .footer-address__element:focus {
  color: #2196f3;
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address__footer-contact {
  padding: 0;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

/* =========== join section =========== */
.join-block {
  margin-right: 93px;
}

.join-title {
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icons__footer-icon {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__footer-icon:not(:last-child) {
  margin-right: 10px;
}

.social-icons__footer-icon:hover, .social-icons__footer-icon:focus {
  background-color: #2196f3;
}

.social-icons__footer-social {
  display: block;
  padding: 12px;
  fill: #ffffff;
}

/* =========== Subscribe section =========== */
.subscribe-box {
  margin-left: auto;
}

.footer-form__subscribe-title {
  display: block;
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form__subscribe-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form__subscribe-mail::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__subscribe-mail:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__subscribe-mail::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__subscribe-mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input {
  margin-right: 12px;
  padding: 14px 0px 14px 15px;
  min-width: 358px;
  max-height: 50px;
  cursor: pointer;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 30px;
  min-width: 200px;
  max-height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.footer-form__icon-send {
  margin-left: 10px;
  margin-top: 3px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-button:focus .modal-button__close,
.modal-button:hover .modal-button__close {
  fill: #2196f3;
}

.modal-button__close {
  position: absolute;
  top: 9px;
  right: 9px;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-title {
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.backdrop-form {
  padding: 40px;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-field__input {
  margin: 0;
  padding: 11px 0px 11px 42px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-field__input:focus + .form-field__icon {
  fill: #2196f3;
}

.form-field__label {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field__icon {
  position: absolute;
  top: 62%;
  left: 3.5%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__comment {
  resize: none;
  cursor: pointer;
}

.form-field__comment {
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__comment:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-field__comment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__comment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__comment::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-agreement {
  position: relative;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
}

.form-agreement__label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-agreement__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-agreement__checkbox:checked ~ .form-agreement__wrapper-icon {
  opacity: 0;
}

.form-agreement__checkbox:checked ~ .form-agreement__wrapper-icon--check {
  opacity: 1;
}

.form-agreement__link {
  text-decoration: underline;
  color: #2196f3;
}

.form-agreement__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-agreement__wrapper-icon--check {
  cursor: pointer;
  opacity: 0;
}

.form-agreement__checkbox-icon {
  margin: 5px 8px 0px 12px;
  cursor: pointer;
  fill: #000000;
}

.form-agreement__icon-check {
  position: absolute;
  top: 5px;
  left: 12px;
  cursor: pointer;
  fill: #ffffff;
  background-color: #2196f3;
  border-radius: 2px;
}

.form-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-send__button {
  padding: 10px 30px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: 0;
}

.portfolio-main {
  padding: 94px 0px;
}

.button-list__button {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.button-list__button:hover, .button-list__button:focus {
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list__item:not(:last-child) {
  margin-right: 8px;
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-box__product {
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.content-box__product:hover .content-box__forward,
.content-box__product:focus .content-box__forward {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.content-box__product:hover, .content-box__product:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content-box__product:nth-child(3n) {
  margin-right: 0px;
}

.content-box__product:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.content-box__forward {
  position: absolute;
  margin: 0;
  display: block;
  padding: 64px 24px;
  width: 370px;
  height: 294px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content-box__wrapper {
  overflow: hidden;
}

.content-box__wrapper {
  position: relative;
}

.content-box__img {
  display: block;
}

.content-box__border {
  padding-top: 20px;
  border: 1px solid #eeeeee;
}

.content-box__products-name {
  margin-bottom: 4px;
  margin-right: 24px;
  margin-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.content-box__menu-link {
  margin-bottom: 20px;
  margin-right: 24px;
  margin-left: 24px;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */