.header {
  // position: relative;
  background: $white-color;

  border-bottom: 1px solid $border-color;
}

.header-border {
  position: relative;
  display: flex;
  align-items: baseline;
}

/* =========== menu-burger =========== */

.menu-container {
  display: flex;
  width: 100%;

  // width: 100vw;
  // height: 100hw;

  // justify-content: space-between;

  background-color: $white-color;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    padding: 48px 40px;
    max-height: 796px;

    &.is-open {
      display: block;
    }
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  align-items: center;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button__icon {
  position: absolute;
  top: 10px;
  right: 10px;

  z-index: 2;
  &:hover,
  &:focus {
    fill: $theme-color;
  }
}

.menu-button__cross-burger {
  display: none;
}

.menu-button.is-open .menu-button__cross-burger {
  display: block;
}

.menu-button.is-open .menu-button__menu-burger {
  display: none;
}

/* =========== WebStudio =========== */

.header-logo__link {
  display: block;
  padding: 16px 0px;

  align-items: center;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;

  @media screen and (min-width: 768px) {
    padding: 26px 0px;
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    padding: 24px 0px 25px 0px;
    margin-right: 93px;

    font-size: 26px;
  }
}

.header-logo__link--theme {
  color: $theme-color;
}

.header-logo__link--black {
  color: $black-color;
}

/* =========== Navigator=========== */

.navigator {
  display: block;

  @media screen and (max-width: 767px) {
    margin-bottom: 302px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.navigator__link {
  position: relative;

  display: block;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $text-primary;

  &:hover,
  &:focus {
    color: $theme-color;
  }

  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
  }

  @media screen and (min-width: 768px) {
    padding: 32px 0px;
  }
}

.navigator__link--current {
  color: $theme-color;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;

    @media screen and (min-width: 768px) {
      height: 4px;
      background-color: $theme-color;
      border-radius: 2px;
    }
  }
}

.navigator__iteam:not(:last-child) {
  @media screen and (max-width: 767px) {
    padding-bottom: 32px;
  }

  @media screen and (min-width: 767px) {
    margin-right: 50px;
  }
}

/* =========== Contacts =========== */

.contacts {
  display: flex;

  // ВНИМАНИЕ

  // при ширине 608пк ломаеться

  @media screen and (max-width: 767px) {
    flex-wrap: wrap-reverse;

    margin-bottom: 64px;

    background-color: $white-color;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    // display: block;

    flex-direction: column;
    justify-content: center;

    margin: -5px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.contacts__iteam:first-child .contacts__contact {
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.16;
    margin-top: 32px;
  }
}

.contacts__iteam {
  display: flex;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 5px;
  }
}

.contacts__contact {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $text-secondary;

  &:hover,
  &:focus {
    color: $theme-color;
  }

  &:hover .contacts__webpost,
  &:focus .contacts__webpost,
  &:hover .contacts__smartphone,
  &:focus .contacts__smartphone {
    fill: $theme-color;
  }

  @media screen and (max-width: 767px) {
    display: block;

    font-size: 34px;
    line-height: 1.17;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 1.16;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;

    margin-left: 30px;
    padding: 32px 0px;

    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__webpost {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $text-secondary;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contacts__smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: $text-secondary;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

/* =========== social-list =========== */

.social-list__item {
  display: inline-flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  text-decoration: none;

  color: $theme-color;

  &:not(:last-child):after {
    content: '';
    width: 0px;
    height: 22px;

    margin-left: 10px;
    margin-right: 5px;

    display: flex;
    flex-wrap: wrap;

    border: 1px solid rgba(33, 33, 33, 0.2);
    // transform: rotate(90deg);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
