body {
  font-size: 14px;
  font-family: $primary-font, sans-serif;
  letter-spacing: 0.03em;
  color: $text-primary;
  background-color: $white-color;
}

// @media screen and (max-width: 480px) {
//   width: 480px;
// }

// @media screen and (max-width: 768px) {
//   align-items: center;
//   width: 768px;
// }

// @media screen and (max-width: 1200px) {
//   align-items: center;
//   width: 1200px;
// }

a {
  transition: color $transition, background-color $transition;
}

button {
  font-family: inherit;

  transition: color $transition, background-color $transition;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.padding-bottom {
  padding-bottom: 94px;

  @media screen and (max-width: 767px) {
    // padding-top: 60px;
    padding-bottom: 60px;
  }
}
